/** Header **/

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Georgia', 'sans-serif';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

img.d-inline-block {
  display: inline-block!important;
  height:10rem;
  width: auto;
}

@media (max-width: 767px) {
  img.d-inline-block {
    display: inline-block!important;
    height: 7rem;
    width: auto;
  }
}

/** Hero Image **/

.hero-image {
    height: auto;
    max-width: 100%;

    background: url('../images/hero-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media (max-width: 600px){
  h1.display-4 {
    font-size: 2rem;
    font-weight: 400;
  }

  p.lead {
    font-size: 1.1rem;
    font-weight: 300;
  }

  a.btn:not(:disabled):not(.disabled) {
    font-size: 1.1rem;
  }
}

/** Index Body **/

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    background-color: rgba(233, 236, 239, 0.3);
    text-align: center;
}

p.display-5 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-weight: 1000;
}

a.btn.btn-primary.btn-lg {
    color: #fff;
    background-color: #F9D0D0;
    border-color: #c6a6a6;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #7d6969;
}

/** Footer **/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social {
    align-self: flex-start;
}

.copyright {
  align-self: center;
  font-size: 0.75rem;
  padding-right: 20px;
  padding-top: 15px;
}

.social i {
    font-size: 2rem;
    color: #212529;
    margin-top: 5px;
    margin-left: 5px;
}

a {
    color: #212529;
}

/** Contact **/

.col-md-6, .col-md-12 {
    padding-left: 30px;
    padding-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #FACDD0;
    border-color: #c6a6a6;
}

.text-md-left {
    text-align: left!important;
    padding-left: 20px;
}

.success-message {
    margin-left: 15px;
}

.contact {
  height: 90vh;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background: url('../images/hero-image-contact.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Gallery */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/* Pricing */
  
  /* Create four equal columns that sits next to each other */
  .pricing {
    flex: 50%;
    max-width: 50%;
    padding: 0 0px;
  }
  
  .pricing img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .pricing {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .pricing {
      flex: 100%;
      max-width: 100%;
    }
  }

/* Quiz */

#quiz {
  height: 90vh;
  max-width: 100%;

  background: url('../images/hero-image-quiz.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#quiz-page {
  background: #ffffff70;
  padding: 6rem 6rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.h1, h1 {
  font-size: 2.5rem;
  color: #6a6261;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  max-width: 80rem;
}

.btn:not(:disabled):not(.disabled) {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 600;
  background-color: #c6a6a6;
}

.btn:hover {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.03);
}

.bt:not(:disabled):hover {
  cursor: not-allowed;
  transform: none;
}

button {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 600;
  background-color: #c6a6a6;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.success-message {
  font-size: 2rem;
  color: #7d6969;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#question1, div#question-2, div#question-3 {
  font-size: 1.5rem;
  color: #7d6969;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 800;
}

@media (max-width: 767px) {
  #quiz-page {
    padding: 2rem 2rem;
  }

  h1#quiz-header {
    text-align: center;
  }

  div#question1, div#question-2, div#question-3 {
    text-align: center;
  }

  .success-message {
    text-align: center;
}
}
